<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChQAozmiL-RTuM8xCMxMY5qCjelb2xuGs</string>
	<key>GCM_SENDER_ID</key>
	<string>449076507969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.northwest.fall23.cs44653.CashCraft</string>
	<key>PROJECT_ID</key>
	<string>cashcraft-13074</string>
	<key>STORAGE_BUCKET</key>
	<string>cashcraft-13074.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449076507969:ios:c0704389e18c6dad78ddc0</string>
</dict>
</plist>